<%= form_for workout_routine  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.label :category %>
  <%= f.text_field :category %><br />
  <%= f.label :split_length %>
  <%= f.text_field :split_length %><br />
  <%= f.label :difficulty %>
  <%= f.text_field :difficulty %><br />
  Exercises:
  <ul>
    <%= f.label :exercise %><br>
    <%= f.collection_select :exercise_ids, Exercise.all, :id, :name %></div>
    <%= f.fields_for :exercises do |exercises_form| %>
      <li>
        <%= exercises_form.label :name %>
        <%= exercises_form.text_field :name %>

        <%= exercises_form.label :sets %>
        <%= exercises_form.text_field :sets %>

        <%= exercises_form.label :reps %>
        <%= exercises_form.text_field :reps %>

        <%= exercises_form.label :target %>
        <%= exercises_form.text_field :target %>
      </li>
    <% end %>
  </ul>
  <%= f.submit %>
<% end %>
