Workout Routines

<% if current_user %>
  <%= link_to "Create a new workout routine", new_workout_routine_path %><br />
  <%= link_to "View your Personalized Fitness Tracker", user_path(current_user) %><br />
<% end %>

  <%= link_to "View User profiles", users_path %><br />

<% @workout_routines.each do |routine| %>
  <ul>
  <li><%= routine.name %></li>
  <li><%= routine.split_length %></li>
  <li><%= routine.difficulty %></li>
  <li><%= link_to "View Exercises", workout_routine_path(routine) %></li> 
  <div id= "workoutshow"></div>
</ul>
<% end %>
