<ul>
  <% if @user.avatar_file_size != nil %>
    <%= image_tag @user.avatar.url %>
  <% end %>
  <h2>Bio:</h2>
  <li><%= @user.bio %></li><br />
  <% if @user == current_user %>
    <%= link_to "Update your personal bio", edit_user_path(@user) %><br />
    <%= link_to "Create New Fitness Goal", new_goal_path %><br />
  <% end %>
  <h2>Goals:</h2>
<% @user.goals.each do |goal| %>
  <li><%= goal.description %></li>
  <% if goal.status %>
    <li><%= "Accomplished" %></li><br />
  <% else %>
    <li><%= "In Progress" %></li><br />
    <% if @user == current_user %>
      <%= link_to "Mark goal as accomplished", goals_accomplish_path(goal), method: :patch %>
    <% end %>
  <% end %>
<% end %><br /> 
  <button id= "userplans">View Fitness Plans</button> 
  <div id= "plans"></div>
  
