<ul>
  <h2>Bio:</h2>
  <li><%= @user.bio %></li>
  <% if @user == current_user %>
    <%= link_to "Update your personal bio", edit_user_path(@user) %>
    <%= link_to "Create New Fitness Goal", new_goal_path %>
  <% end %>
  <h2>Goals:</h2>
<% @user.goals.each do |goal| %>
  <li><%= goal.description %></li>
  <% if goal.status %>
    <li><%= "Accomplished" %></li>
  <% else %>
    <li><%= "In Progress" %></li>
    <%= link_to "Mark goal as accomplished", goals_accomplish_path(goal), method: :patch %>
  <% end %>
<% end %><br />
  <h2>Fitness Plans:</h2>
<% @user.fitness_plans.each do |plan| %>
  <li>Name: <%= plan.workout_routine.name if plan.workout_routine %></li>
  <li>Length(days): <%= plan.duration %></li>
  <li>Category: <%= plan.workout_routine.category if plan.workout_routine %></li>
  <li>Difficulty: <%= plan.workout_routine.difficulty if plan.workout_routine %></li>
  <li>Days per Week: <%= plan.workout_routine.split_length if plan.workout_routine %></li>
  <li><%= link_to "View Exercises", fitness_plan_path(plan) %></li><br />
  <% end %>
</ul>
