<ul>
  <li><%= @user.bio %></li>
  <% if @user == current_user %>
    <%= link_to "Create New Fitness Goal", new_goal_path %>
  <% end %>
<% @user.goals.each do |goal| %>
  <li><%= goal.description %></li>
  <% if goal.status == true %>
    <li><%= "Accomplished" %></li>
  <% else %>
    <li><%= "In Progress" %></li>
    <%= link_to "Mark goal as accomplished", goals_accomplish_path %>
  <% end %>
<% end %>

<% @user.fitness_plans.each do |plan| %>
  <li>Name: <%= plan.workout_routine.name %></li>
  <li>Length(days): <%= plan.duration %></li>
  <li>Category: <%= plan.workout_routine.category %></li>
  <li>Difficulty: <%= plan.workout_routine.difficulty %></li>
  <li>Days per Week: <%= plan.workout_routine.split_length %></li>
  <li><%= link_to "View Exercises", fitness_plan_path(plan) %></li>
  <% end %>
</ul>
