Customize This Workout Plan to Meet Your Needs

<% @workout_routine.exercises.each do |exercise| %>
<ol>
  <li><%= exercise.name %></li>
  <li><%= exercise.target %></li>
  <li><%= exercise.sets %></li>
  <li><%= exercise.reps %></li>
</ol>
<% end %>

<%= render partial: "/workout_routines/workout", locals: {workout_routine: @fitness_plan} %>
